@import "colors.css";

.card-container {
  height: 35vh;
}

.card-body {
  overflow-y: auto;
}

.card-button {
  background-color: var(--primary-color);
  border-color    : var(--primary-color);
  color           : var(--secondary-color);
  font-size       : 20px;
  font-weight     : bold;
  width           : 100%;
  border-radius   : 5px;
  margin-bottom   : 3px;
}