@import "colors.css";

.table-container {
  width          : 100%;
  border-collapse: collapse;
  margin-top     : 20px;
}

.table-container td {
  border    : 1px solid var(--tertiary-color);
  padding   : 8px;
  text-align: left;
}

.table-container tr:nth-child(odd) {
  background-color: var(--secondary-color);
}

.table-container th {
  border          : 1px solid var(--tertiary-color);
  padding         : 8px;
  background-color: var(--secondary-color);
  text-align      : left;
}