@import "colors.css";

.ticket-container {
  margin-top: 20px;
}

.current-ticket {
  background-color: var(--primary-color);
  padding         : 10px;
  border-radius   : 5px;
  margin-bottom   : 10px;
  text-align      : center;
  height          : 30vh;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.text-ticket {
  font-size: 100px;
}

.processed-tickets {
  background-color: var(--primary-color);
  padding         : 10px;
  border-radius   : 5px;
  margin-bottom   : 10px;
  height          : 60vh;
  overflow-y      : auto;
  text-align      : center;
}

.processed-tickets p {
  font-size    : 20px;
  border-bottom: var(--secondary-color) 1px solid;
  padding      : 1%;
}